
@model database.Models.ViewModel.RegisterVM
@{
    ViewBag.Title = "ĐĂNG KÝ TÀI KHOẢN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

</style>
<!DOCTYPE html>
<div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <h2 class="col-md-6" style="text-align:center;">Đăng Nhập</h2>
        </div>

        @*ID NAME*@
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>

        @*MK*@
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Đăng Nhập" class="btn btn-info accountbtn" /><br />
                <p>Bạn Đã Có Tài Khoản Chưa? <a href="@Url.Action("Register", "Account", null)" />Đăng Ký</p>
            </div>
        </div>


    }
</div>